<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="cancel-btn" fill="clear" (click)="cancelar()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>
      {{ id ? 'Editar Poema' : 'Nuevo Poema' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="poema-form-content">

  <div class="form-container">

    <div class="top-section">
      <h1>
        {{ id ? 'Editar Poema' : 'Crear Poema' }}
      </h1>

      <p>
        Comparte inspiración, emociones y creatividad
      </p>
    </div>

    <div class="form-card">

      <!-- IMAGEN -->
      <div class="upload-section">

        <label class="upload-label">
          Imagen del poema
        </label>

        <input
          type="file"
          accept="image/*"
          (change)="onImagenChange($event)"
          class="file-input"
        >

      </div>

      <!-- VIDEO -->
      <ion-item class="custom-input">
        <ion-label position="stacked">
          Video URL
        </ion-label>

        <ion-input
          name="video_url"
          [(ngModel)]="poema.video_url">
        </ion-input>
      </ion-item>

      <!-- AUDIO -->
      <div class="upload-section">

        <label class="upload-label">
          Audio del poema
        </label>

        <input
          type="file"
          accept="audio/*"
          (change)="onAudioChange($event)"
          class="file-input"
        >

      </div>

      <!-- TITULO -->
      <ion-item class="custom-input">

        <ion-label position="stacked">
          Título
        </ion-label>

        <ion-input
          name="titulo"
          [(ngModel)]="poema.titulo">
        </ion-input>

      </ion-item>

      <!-- AUTOR -->
      <ion-item class="custom-input">

        <ion-label position="stacked">
          Autor
        </ion-label>

        <ion-input
          name="autor"
          [(ngModel)]="poema.autor">
        </ion-input>

      </ion-item>

      <!-- CONTENIDO -->
      <ion-item class="custom-input textarea-item">

        <ion-label position="stacked">
          Contenido
        </ion-label>

        <ion-textarea
          name="contenido"
          [(ngModel)]="poema.contenido"
          autoGrow="true"
          rows="8">
        </ion-textarea>

      </ion-item>

      <!-- BOTON -->
      <ion-button
        expand="block"
        class="save-button"
        (click)="guardar()">

        {{ id ? 'Actualizar Poema' : 'Guardar Poema' }}

      </ion-button>

    </div>

  </div>

</ion-content>